doctype html
html(lang="en")
  head
    title Socket.IO chat
    style.
      * { margin: 0; padding: 0; box-sizing: border-box; }
      body { font: 13px Helvetica, Arial; padding-bottom: 70px; }
      #messages { list-style-type: none; margin: 0; padding: 0; }
      #messages li { padding: 5px 10px; }
      #messages li.room { font-style: italic; }
      #messages li:nth-child(odd) { background: #eee; }
      #messages .chat .chat-user { width: 80px; float: left; white-space: nowrap; overflow: hidden; text-overflow: ellipsis; }
      #messages .chat .chat-msg { margin-left: 80px; padding-left: 10px; }
      #m { width: 1170px; }
      #users { list-style-type: none; margin: 0; padding: 0; }
      #users li { padding: 5px 10px; }
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css')
    script(src='https://cdn.socket.io/socket.io-1.2.0.js')
    script(src='http://code.jquery.com/jquery-1.11.1.js')
    script(src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js')
  body
    .row
      .col-lg-2.col-md-2.col-sm-2.col-xs-2
      .col-lg-8.col-md-8.col-sm-8.col-xs-8
        ul#messages
        nav.navbar.navbar-default.navbar-fixed-bottom
          .row
            .col-lg-2.col-md-2.col-sm-2.col-xs-2
            .col-lg-8.col-md-8.col-sm-8.col-xs-8
              form.navbar-form.navbar-left(action='')
                .form-group
                  input.form-control#m(autocomplete='off')
                button.btn.btn-default Send
            .col-lg-2.col-md-2.col-sm-2.col-xs-2
      .col-lg-2.col-md-2.col-sm-2.col-xs-2
        ul#users
    script(type='text/javascript').
      var socket = io();
      socket.on('join chat', function(){
        var username = prompt('Enter your username');
        socket.emit('enter username', username);
      });

      $('form').submit(function(){
        socket.emit('chat message', $('#m').val());
        $('#m').val('');
        return false;
      });

      socket.on('chat message', function(user, msg){
        message = "<li class='chat'><div class='chat-user'>" +
                  user.username +
                  "</div>" +
                  "<div class='chat-msg'>" +
                  msg
                  "</div></li>"
        $('#messages').append(message);
      });

      socket.on('room message', function(msg){
        $('#messages').append($("<li class='room'>").text(msg));
      });

      socket.on('update room members', function(users){
        list = ''
        $.each(users, function(index, element) {
          list += '<li>' + element.username + '</li>'
        });
        $('#users').html(list)
      });
